@app-height: 500px;

#app {
  width: auto;
  height: @app-height;
  margin: 0 auto;
  text-align: center;
  .hidden {
    display: none;
  }
  span[key].example,
  .info .key {
    cursor: pointer;
    color: #117785;
    text-decoration: underline;
    font-weight: bold;
  }

  #caption a {
    text-decoration: none;
    color: #117785;
  }

  #readme {
    text-align: left;
    margin: 0 auto;
    padding: 0 20px;
    border: solid #a2a4b1 1px;
    background: #f9f9f9;
  }

  #canvas {
    margin-top: 20px;
    #glcanvas {
      border: solid 2px #00f735;
    }
    .info {
      padding-bottom: 15px;
    }
  }
}
