@app-height: 500px;

#app {
  width: auto;
  height: @app-height;
  margin: 0 auto;
  text-align: center;
  .hidden {
    display: none;
  }
  span[key].example,
  .info .key {
    cursor: pointer;
    color: #117785;
    text-decoration: underline;
    font-weight: bold;
  }

  #caption a {
    text-decoration: none;
    color: #117785;
  }

  #docs {
    text-align: left;
    margin: 0 auto;
    padding: 0 20px;
    border: solid #a2a4b1 1px;
    background: #fff;
  }

  #canvas {
    margin-top: 20px;
    .info {
      padding-bottom: 15px;
    }
    .examples {
      position: relative;
      width: 250px;
      border: solid 1px #5f83b1;
      border-left-width: thick;
      top: -390px;
      left: calc(50% + 340px);
      text-align: left;
      ul {
        max-height: 240px;
        overflow: auto;
        list-style: square;
        padding-left: 25px;
        line-height: 25px;
        li {
          cursor: pointer;
          &:hover {
            color: #49678e;
          }
        }
      }
    }
  }
}
