@toc-panel-width: 150px;
@toc-panel-padding: 7px;
@toc-panel-tuckunder: 16px;
@toc-panel-real-width: @toc-panel-width + @toc-panel-padding * 2;
@doc-panel-side-margin: 10px;
@docs-panel-width: calc(
  100% - @toc-panel-real-width - @doc-panel-side-margin * 2
);

#app {
  width: 100%;
  text-align: center;
  .hidden {
    display: none;
  }
  span[key].example,
  .info .key {
    cursor: pointer;
    color: #117785;
    text-decoration: underline;
  }

  #caption a {
    text-decoration: none;
    color: #117785;
  }

  .logo-panel {
    width: @docs-panel-width;
  }

  #docs {
    width: @docs-panel-width;
    max-width: 100%;
    text-align: left;
    margin: 0 @doc-panel-side-margin;
    padding: 25px;
    background: #fff;
  }

  #canvas {
    width: @docs-panel-width;
    max-width: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    .canvas-panel {
      flex: 1;
      margin-left: 45px;
      .info {
        padding-bottom: 15px;
      }
    }
    .examples {
      margin-left: 20px;
      border: solid 1px #5f83b1;
      border-left-width: thick;
      text-align: left;
      flex-basis: 300px;
      height: 300px;
      overflow: auto;
      ul {
        max-height: 300px;
        overflow: auto;
        list-style: square;
        padding-left: 25px;
        line-height: 25px;
        li {
          cursor: pointer;
          &:hover {
            color: #49678e;
          }
        }
      }
    }
  }

  .toc {
    width: @toc-panel-real-width;
    position: fixed;
    top: 140px;
    right: 5px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    ul {
      padding: 0;
      position: relative;
      z-index: 100;
      display: inline-table;
      list-style-type: none;
      & > li:hover {
        border-left-color: #ece2ff;
        background-color: #e7e6e8;
        font-weight: bold;
      }
      & > li.active {
        border-left-color: #872bff;
        background-color: #ece2ff;
        font-weight: bold;
      }
      & > li {
        width: @toc-panel-width;
        white-space: nowrap;
        overflow: hidden;
        min-height: 22px;
        border-left: solid 4px #cdcdcd;
        padding: @toc-panel-padding;
        margin: 0;
        & > .title-node {
          display: flex;
          align-items: center;
          min-height: 22px;
          position: relative;
          width: 100%;
          & > .tuckunder {
            flex-shrink: 0;
            width: @toc-panel-tuckunder;
            vertical-align: middle;
          }
          & > .title {
            flex-shrink: 0;
            vertical-align: baseline;
            cursor: pointer;
            a {
              color: #4e4e4e;
              font-size: 16px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
